body {
  background-color:white;
  color:black;
}


#root{
  display: flex;
  justify-content: center;
}

/* 인증 페이지 CSS 시작 */

.cont_auth{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form_email > input {
  display: block;
  height:50px;
  width:350px;
  border-radius: 9999px;
  box-sizing: border-box;
  padding:0px 25px 0px 25px;
  font-size: 16px;
  margin-bottom:15px;
  border:1px solid #777;
}

.form_email .input_email{
  margin-bottom: 10px;
}

.form_email .toggle_email{
  background-color: #a29bfe;
}

.toggle_message{
  display: block;
  color:#a29bfe;
  margin: 30px 0 25px;
  text-align: center;
  text-decoration: underline;
}

.login_error{
  position: absolute;
  background:rgb(247, 190, 205);
  color: black;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 5px;
  top: 50px;
  left: calc(50% - 150px);
  border: 1px solid rgb(207, 146, 162);
  animation: popup 1.5s;
}

@keyframes popup {
  from {opacity: 0;top:0;}
  to {opacity:1;top:50px;}
}

.wrap_social{
  display: flex;
  justify-content: space-between;
}

.wrap_social button{
  width:48%;
  height: 45px;
  border:none;
  border-radius: 9999px;
}

/* mo 대응 */

@media (max-width: 600px) {
  .form_email > input {
    width: 80vw;
  }
}

/* 인증 페이지 CSS 끝 */

/* navigation 시작 */

a{
  text-decoration: none;
}

.wrap_nav{
  background-color:white;
  width: 20vw;
  border-right:1px solid rgb(246, 246, 246);
}

.list_nav li{
  display: flex;
  justify-content: center;
  margin-left: -20px;
  margin-bottom: 25px;
}

.nav_text{
  display: inline-block;
  margin-top: -3px;
  margin-left: 10px;
  color:#2f3640;
  text-decoration: none;
  font-size:24px;
  font-weight:700;
}

/* navigation 끝 */

/* home 시작 */
.wrap_home{
  flex:2;
  margin:0 16px;
}

.title{
  font-weight: 700;
  font-size:20px;
  margin:16px 0;
}

/* home 끝 */

/* tweet 시작 */
.tweet{
  padding:10px 12px 10px 12px;
  display: flex;
  border-top: 1px solid rgb(246, 246, 246);
}

.profile_img{
  border-radius: 50%;
}

.tweet:hover{
  background:rgb(246, 246, 246);
}

.wrap_tweet_text{
  flex:2;
  margin: 0 10px;
  position: relative;
}

.wrap_title{
  display: flex;
  justify-content: space-between;
}

.nickname{
  font-weight:600;
  font-size:16px;
  margin: 4px 0 6px 0;
}

.wrap_button{
  display:none;
}

.wrap_button.active{
  display: flex;
  position:absolute;
  right: -15px;
  top: 20px;
  flex-direction: column;
  border: 1px solid rgb(211, 211, 211);
  background:white;
}

.wrap_button.active button{
  border: none;
  background: none;
  padding: 5px 10px;
}

.wrap_button.active button:hover{
  background: rgb(211, 211, 211);
}

.tweet_text{
  display: block;
  margin-bottom: 16px;
}

.like{
  background:none;
  border:none;
  padding:0;
  transition: all 0.5s;
}

.like:hover{
  color:rgb(220, 156, 167);
}

.tweet_img{
  width:100%;
  height:auto;
  border-radius: 10px;
}

.wrap_button.active .btn_edit{
  border-top: 1px solid rgb(246, 246, 246);
}
/* tweet 끝 */

/* 트윗하기 시작 */
.wrap_tweeting{
  display: flex;
  padding-bottom: 10px;
}

.wrap_tweeting form{
  flex:2;
  margin: 0 20px 0 0;
}

.input_tweet_text{
  display: block;
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  outline: none;
}

.wrap_tweet_option{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgb(246, 246, 246);
}

.input_tweet_image{
  text-indent: -9999px;
  width: 26px;
  height:24px;
}

.input_tweet_btn{
  border:none;
  background: #a29bfe;
  color: white;
  border-radius: 9999px;
  padding:5px 15px 5px 15px;
  font-size: 18px;
  font-weight: 600;
}

/* 트윗하기 끝 */